target/
covers/
cache/
cache/covers
**/*.rs.bk
.DS_Store
# *.lock (Cargo.lock should be tracked for apps)
.vscode/
.idea/
*.log
tmp/
temp/


library.db
library.db-shm
library.db-wal
library.db*
graphify-out/
.criterion/
logs/
